{% extends 'base.html.twig' %}

{% block title %}Caractéristique d'un test{% endblock %}

{% block body %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<style>
    .example-wrapper { margin: 1em auto; max-width: 1000px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
{% if test is defined == false %}
    <h2>Problème de transmission de donnée</h2>
    {% else %}
        {% if test is null == true %}
            <h2>Test inexistant</h2>
        {% else %}
            <h1>Caractéristiques du test numéro {{ test.id }}</h1>

            <p>Produit testé : {{ test.produit.nom }} </p>
            <p>Catégorie du produit testé : {{ test.produit.categorieProduit.libelle }} </p>
            <p>Date de début du test : {{ test.dateDebut | date('d/m/Y') }} </p>
            <p>Date de fin du test : {{ test.dateFin | date('d/m/Y') }} </p>
            <p>Nombre de fin du test : {{ test.nombreTesteur }} </p>
            <p>Clinique : {{ test.nomClinique }} </p>
            <p>Médecin responsable du suivi : {{ test.nomMedecin }} </p>
            <p>Date de création du test : {{ test.dateCreation | date('d/m/Y') }}</p>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Identifiant</th>
                        <th>Nom</th>
                    </tr>
                </thead>
                <tbody>
                {% for testeur in test.testeurs %}
                    <tr>
                        <td>Testeur n° {{ testeur.id}} </td>
                        <td>{{ testeur.nom }} {{ testeur.prenom }} </td> 
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% endif %}
{% endif %}
  
</div>

{% endblock %}