{% extends 'base.html.twig' %}

{% block title %}Modifier un testeur{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<br>
    <h1>Modifier un Testeur</h1>

    
    {{ form_start(form) }}

    {{ form_row(form.nom) }}
    {{ form_row(form.prenom) }}
    {{ form_row(form.mail) }}
    {{ form_row(form.testsClinique, {'label': "Clinique"}) }} 
    
    <button type="submit" class="btn btn-success">Modifier !</button>

    {{ form_end(form) }}
    <br>
    <a href="{{ path('testeur_index') }}"><i class="fas fa-arrow-left"> Retour à la liste des testeurs</i></a><br><br>

{% endblock %}
